/* Importing the 'Roboto' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset box-sizing and define global styles */
* {
  box-sizing: border-box;
}

/* Set styles for the body and root element */
body, #root {
  background-color: whitesmoke;
  color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

/* Style for the main heading */
h1 {
  margin: 20px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Style for secondary headings */
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Style for paragraphs */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Style for the game container */
.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

/* Style for the figure container (for hangman) */
.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

/* Style for individual parts of the hangman figure */
.figure-part {
  display: none;
}

/* Style for the container of wrong letters */
.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

/* Style for wrong letter labels */
.wrong-letters-container p {
  margin: 0 0 5px;
}

/* Style for displayed wrong letters */
.wrong-letters-container span {
  font-size: 24px;
}

/* Style for the word display */
.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Style for individual letters in the word */
.letter {
  border-bottom: 5px solid black;
  display: inline-flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 30px;
  border-radius: 5px;
}

/* Style for the popup container */
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Initially hidden, will be displayed when needed */
  display: none;
  align-items: center;
  justify-content: center;
}

/* Style for the popup content */
.popup {
  background: black;
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* Style for buttons within the popup */
.popup button {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

/* Style for active state of the button */
.popup button:active {
  transform: scale(0.98);
}

/* Remove focus outline on the button */
.popup button:focus {
  outline: 0;
}

button {
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
  border: 0;
  border-radius: 5px;
  margin-top: 50px;
  padding: 12px 20px;
  font-size: 16px;
}

/* Style for the notification container */
.notification-container {
  background-color: black;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

/* Style for notification text */
.notification-container p {
  margin: 0;
}

/* Slide-in animation for the notification container */
.notification-container.show {
  transform: translateY(-50px);
}

/* Style for lines and circles within the figure container */
.figure-container line {
  stroke: black;
  stroke-width: 5;
}

.figure-container circle {
  stroke: black;
  stroke-width: 5;
  fill: none;
}


/* Style for the "I need help" button container */
.clue-container {
  position: relative; /* Relative positioning to contain the absolute positioning of text */
  margin-top: 20px; /* Space above the button */
}

/* Style for the "I need help" button */
.clue-container button {
  cursor: pointer; /* Show a pointer cursor on hover */
  background-color: black; /* Background color */
  color: whitesmoke; /* Text color */
  border: 0; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  padding: 12px 20px; /* Padding inside the button */
  font-size: 16px; /* Font size */
}

/* Style for the hidden text */
.clue-container p {
  position: absolute; /* Absolute positioning */
  bottom: 100%; /* Initially positioned off-screen */
  left: 0;
  right: 0;
  background-color: black; /* Background color */
  color: whitesmoke; /* Text color */
  font-family: 'Roboto', sans-serif; /* Font family */
  border-radius: 0 0 10px 10px; /* Rounded corners with top corners left as they are */
  padding: 15px 20px; /* Padding inside the clue text */
  transition: transform 0.3s ease-in-out; /* Smooth transition for showing/hiding the clue */
}


/*------------VIRTUAL KEYBOARDS--------------------*/
.virtual-keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Adjust the number of columns as needed */
  gap: 5px; /* Adjust the gap between keys as needed */
}

/* Style for individual keys */
.virtual-keyboard button {
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
  border: 0;
  border-radius: 5px;
  padding: 5px 5px; /* Adjust padding as needed */
  font-size: 12px; /* Adjust font size as needed */
}


/* Media query for screens smaller or equal to 768 pixels */
@media (max-width: 768px) {
  .game-container {
    height: 250px; /* Adjust the height for smaller screens */
    width: 300px; /* Adjust the width for smaller screens */
  }

  /* Additional styles for other elements if needed */
  /* For example, reducing font sizes or margins */
  .word {
    font-size: 20px;
  }

  .letter {
    font-size: 30px;
    height: 40px;
    width: 25px;
  }

  .clue-container {
    position: absolute; /* Relative positioning to contain the absolute positioning of text */
    margin-top: 750px; /* Space above the button */
  }
}

